In [14]:
import pandas as pd
import numpy as np
from functools import reduce

In [15]:
csv_file = "output_Air Bud Seventh Inning Fetch (2002).csv"
csv_file_ace_ventura = "https://raw.githubusercontent.com/moe221/diversity_in_cinema/moe221_prediction_pipeline/results/ace_ventura_results.csv"
csv_file_A_team = "output_The A-Team (2010).csv"

In [16]:
df_movie = pd.read_csv(csv_file)

In [17]:
df_movie

     Unnamed: 0  frame_number  face_id gender             race
0             0           201      0.0    Man            black
1             1           201      1.0    Man            white
2             0           437      2.0    Man            white
3             1           437      3.0  Woman            white
4             2           437      4.0    Man  latino hispanic
..          ...           ...      ...    ...              ...
104           0         10181    104.0    Man            white
105           0         10201    105.0  Woman            white
106           0         10349    106.0    Man            white
107           0         10401    107.0    Man            black
108           0         10477    108.0    Man            white

[109 rows x 5 columns]

In [18]:
df_movie = df_movie.drop(columns=['Unnamed: 0'])
df_movie

     frame_number  face_id gender             race
0             201      0.0    Man            black
1             201      1.0    Man            white
2             437      2.0    Man            white
3             437      3.0  Woman            white
4             437      4.0    Man  latino hispanic
..            ...      ...    ...              ...
104         10181    104.0    Man            white
105         10201    105.0  Woman            white
106         10349    106.0    Man            white
107         10401    107.0    Man            black
108         10477    108.0    Man            white

[109 rows x 4 columns]

# Movie data

## Movie length

Movie in seconds, not sure if needed at all

Number of genders and races

In [36]:
gender_number = pd.unique(df_movie['gender'])
gender_number

array(['Man', 'Woman'], dtype=object)

In [38]:
gender_number[0]

'Man'

In [37]:
race_number = pd.unique(df_movie['race'])
race_number

array(['black', 'white', 'latino hispanic', 'asian', 'indian',
       'middle eastern'], dtype=object)

## Face frames

In [20]:
face_frames = len(pd.unique(df_movie['frame_number']))
face_frames

66

`??` 1 sec = 2 frames `??`

In [21]:
face_frames_sec = face_frames / 2
face_frames_sec

33.0

# Total number

## people

`??` number of how many times a woman/men appears in frames != how many women/men are in the movie

### total number of women

In [22]:
woman_df = df_movie[df_movie['gender']=='Woman']

In [23]:
number_women = len(woman_df)
number_women

18

### total number of men

In [24]:
man_df = df_movie[df_movie['gender']=='Man']

In [25]:
number_men = len(man_df)
number_men

91

## white

### number of women-white

In [31]:
woman_df.groupby('race')['race'].value_counts()

race   race
white  white    18
Name: race, dtype: int64

In [14]:
woman_df.groupby('race')['race'].count()

race
asian               10
black                3
indian               1
latino hispanic     15
middle eastern       8
white              185
Name: race, dtype: int64

In [15]:
women_white = woman_df.groupby('race')['race'].count()['white']
women_white

185

### number of men-white

In [16]:
man_df.groupby('race')['race'].count()

race
asian               93
black               69
indian               6
latino hispanic     83
middle eastern      88
white              615
Name: race, dtype: int64

In [17]:
men_white = man_df.groupby('race')['race'].count()['white']
men_white

615

## latino

### number of women-latino

In [18]:
women_latino = woman_df.groupby('race')['race'].count()['latino hispanic']
women_latino

15

### number of men-latino

In [19]:
men_latino = man_df.groupby('race')['race'].count()['latino hispanic']
men_latino

83

## black

### number of women-black

In [20]:
women_black = woman_df.groupby('race')['race'].count()['black']
women_black

3

### number of men-balck

In [21]:
men_black = man_df.groupby('race')['race'].count()['black']
men_black

69

## asian

### number of women-asian

In [22]:
women_asian = woman_df.groupby('race')['race'].count()['asian']
women_asian

10

### number of men-asian

In [23]:
men_asian = man_df.groupby('race')['race'].count()['asian']
men_asian

93

## middle eastern

### number of women-middle eastern

In [24]:
women_middleeastern = woman_df.groupby('race')['race'].count()['middle eastern']
women_middleeastern

8

### number of men-middle eastern

In [106]:
men_middleeastern = man_df.groupby('race')['race'].count()['middle eastern']
men_middleeastern

88

## indian

### number of women-indian

In [99]:
women_indian = woman_df.groupby('race')['race'].count()['indian']
women_indian

1

### number of men-indian

In [25]:
men_indian = man_df.groupby('race')['race'].count()['indian']
men_indian

6

## non white

### number of women-non white

In [26]:
women_nonwhite = number_women-women_white

### number of men-non white

In [27]:
men_nonwhite = number_men-men_white

# Number of frames

## number of frames with only women

In [28]:
df = ace_ventura_df

In [29]:
df2 = df.groupby(["frame_number"]).nunique()["gender"].reset_index()

In [30]:
df2['gender_value'] = df['gender']

In [31]:
df3 = df2[df2.gender == 1]
df3.groupby('gender_value')['gender_value'].count()

gender_value
Man      433
Woman    108
Name: gender_value, dtype: int64

In [32]:
only_women = len(df3[df3['gender_value']=='Woman'])

## number of frames with only men

In [33]:
only_men = len(df3[df3['gender_value']=='Man'])

# Average screentime

## Gender

In [34]:
face_frames

687

In [35]:
only_women_perc = only_women/face_frames*100

In [36]:
only_women_perc

15.72052401746725

In [38]:
only_men_perc = only_men/face_frames*100

In [39]:
only_men_perc

63.02765647743813

In [40]:
df_gender = df.groupby(['gender']).count().reset_index().drop(columns=['face_id','race'])

In [41]:
df_gender['gender_screentime']=df_gender['frame_number']/df_gender['frame_number'].sum()*100
df_gender

  gender  frame_number  gender_screentime
0    Man           954          81.122449
1  Woman           222          18.877551

In [42]:
df_only = df3.groupby(['gender_value']).count().reset_index().drop(columns=['gender'])
df_only = df_only.rename(columns={'frame_number': 'only_1_gender', 'gender_value':'gender'})
df_only

  gender  only_1_gender
0    Man            433
1  Woman            108

In [43]:
dfg = [df_gender, df_only]
df_gender_final = reduce(lambda left,right: pd.merge(left,right,on='gender'), dfg)
df_gender_final['only_1_screentime'] = df_gender_final['only_1_gender']/df_gender_final['only_1_gender'].sum()*100
df_gender_final

  gender  frame_number  gender_screentime  only_1_gender  only_1_screentime
0    Man           954          81.122449            433          80.036969
1  Woman           222          18.877551            108          19.963031

## Race

In [44]:
df_race = df.groupby(['race']).count().reset_index()

In [45]:
df_race['frame_number'].sum()

1176

In [46]:
df_race['race_screentime']=df_race['frame_number']/df_race['frame_number'].sum()*100

In [47]:
df_race = df_race.drop(columns=['face_id','gender'])

In [48]:
df_race

              race  frame_number  race_screentime
0            asian           103         8.758503
1            black            72         6.122449
2           indian             7         0.595238
3  latino hispanic            98         8.333333
4   middle eastern            96         8.163265
5            white           800        68.027211

In [49]:
women_by_race = woman_df.groupby(['race']).count().reset_index()
women_by_race = women_by_race.drop(columns=['face_id','gender'])
women_by_race = women_by_race.rename(columns={'frame_number': 'woman_frames'})
women_by_race

              race  woman_frames
0            asian            10
1            black             3
2           indian             1
3  latino hispanic            15
4   middle eastern             8
5            white           185

In [50]:
men_by_race = man_df.groupby(['race']).count().reset_index()
men_by_race = men_by_race.drop(columns=['face_id','gender'])
men_by_race = men_by_race.rename(columns={'frame_number': 'man_frames'})
men_by_race

              race  man_frames
0            asian          93
1            black          69
2           indian           6
3  latino hispanic          83
4   middle eastern          88
5            white         615

In [51]:
dfs = [df_race, women_by_race, men_by_race]

df_race_final = reduce(lambda left,right: pd.merge(left,right,on='race'), dfs)
df_race_final['woman_r_screentime'] = df_race_final['woman_frames']/df_race_final['frame_number']*100
df_race_final['man_r_screentime'] = df_race_final['man_frames']/df_race_final['frame_number']*100

# Final dataframes to csvs

In [210]:
df_race_final

,race,frame_number,race_screentime,woman_frames,man_frames,woman_r_screentime,man_r_screentime
0,asian,103,8.758503,10,93,9.708738,90.291262
1,black,72,6.122449,3,69,4.166667,95.833333
2,indian,7,0.595238,1,6,14.285714,85.714286
3,latino hispanic,98,8.333333,15,83,15.306122,84.693878
4,middle eastern,96,8.163265,8,88,8.333333,91.666667
5,white,800,68.027211,185,615,23.125000,76.875000

In [246]:
df_gender_final

  gender  frame_number  gender_screentime  only_1_gender  only_1_screentime
0    Man           954          81.122449            433          80.036969
1  Woman           222          18.877551            108          19.963031

In [247]:
#df_race_final.to_csv(r'Path where you want to store the exported CSV file\File Name.csv', index = False)

In [248]:
#df_gender_final.to_csv(r'Path where you want to store the exported CSV file\File Name.csv', index = False)