In [1]:
import pandas as pd
import numpy as np
from functools import reduce

In [5]:
ace_ventura_df = pd.read_csv("https://raw.githubusercontent.com/moe221/diversity_in_cinema/moe221_prediction_pipeline/results/ace_ventura_results.csv")

In [6]:
ace_ventura_df

      Unnamed: 0  frame_number  face_id gender             race
0              0          31.0      0.0    Man            white
1              0          51.0      1.0    Man            white
2              0          71.0      2.0    Man            black
3              0          91.0      3.0    Man  latino hispanic
4              0         101.0      4.0    Man            asian
...          ...           ...      ...    ...              ...
1171           0        9741.0   1171.0    Man            black
1172           1        9741.0   1172.0    Man            black
1173           2        9741.0   1173.0  Woman            white
1174           0        9761.0   1174.0    Man            asian
1175           0        9771.0   1175.0    Man            white

[1176 rows x 5 columns]

In [7]:
ace_ventura_df = ace_ventura_df.drop(columns=['Unnamed: 0'])

# Movie data

## Movie length

Movie in seconds, not sure if needed at all

In [52]:
pd.unique(ace_ventura_df['frame_number'])

array([  31.,   51.,   71.,   91.,  101.,  111.,  121.,  131.,  141.,
        151.,  191.,  221.,  231.,  241.,  251.,  271.,  281.,  291.,
        301.,  311.,  321.,  351.,  371.,  391.,  441.,  451.,  471.,
        481.,  511.,  531.,  551.,  561.,  621.,  651.,  661.,  671.,
        681.,  691.,  701.,  711.,  721.,  731.,  741.,  931.,  951.,
        981.,  991., 1001., 1011., 1021., 1031., 1051., 1061., 1071.,
       1081., 1111., 1121., 1141., 1151., 1161., 1171., 1181., 1191.,
       1271., 1291., 1301., 1311., 1321., 1331., 1341., 1361., 1371.,
       1381., 1391., 1401., 1411., 1421., 1431., 1441., 1451., 1461.,
       1501., 1511., 1571., 1581., 1601., 1611., 1621., 1631., 1641.,
       1651., 1661., 1681., 1691., 1701., 1721., 1731., 1741., 1761.,
       1771., 1781., 1791., 1801., 1811., 1821., 1831., 1841., 1851.,
       1861., 1901., 1941., 1951., 1961., 1991., 2001., 2011., 2021.,
       2031., 2041., 2051., 2061., 2091., 2101., 2111., 2141., 2161.,
       2171., 2181., 2191., 2201., 2211., 2221., 2231., 2241., 2251.,
       2261., 2271., 2281., 2291., 2301., 2311., 2321., 2331., 2341.,
       2351., 2361., 2371., 2381., 2391., 2401., 2411., 2421., 2431.,
       2441., 2451., 2461., 2471., 2481., 2501., 2521., 2531., 2541.,
       2551., 2561., 2571., 2581., 2591., 2601., 2611., 2621., 2631.,
       2641., 2651., 2661., 2671., 2681., 2711., 2731., 2741., 2751.,
       2761., 2771., 2821., 2831., 2841., 2861., 2871., 2891., 2911.,
       2921., 2931., 2961., 2971., 2981., 3001., 3011., 3021., 3041.,
       3051., 3061., 3071., 3081., 3091., 3101., 3111., 3121., 3131.,
       3141., 3151., 3161., 3171., 3181., 3191., 3201., 3211., 3221.,
       3231., 3241., 3251., 3261., 3271., 3281., 3291., 3301., 3311.,
       3321., 3331., 3341., 3351., 3361., 3371., 3381., 3391., 3411.,
       3461., 3471., 3541., 3581., 3611., 3661., 3671., 3681., 3701.,
       3711., 3721., 3731., 3741., 3751., 3781., 3791., 3801., 3811.,
       3831., 3841., 3851., 3871., 3881., 3891., 3901., 3911., 3921.,
       3941., 3951., 3971., 3981., 3991., 4001., 4011., 4021., 4031.,
       4051., 4061., 4091., 4101., 4111., 4121., 4141., 4151., 4161.,
       4171., 4181., 4201., 4211., 4221., 4251., 4271., 4281., 4291.,
       4301., 4311., 4361., 4371., 4381., 4391., 4401., 4411., 4421.,
       4431., 4441., 4451., 4461., 4471., 4481., 4491., 4501., 4511.,
       4521., 4531., 4541., 4561., 4601., 4621., 4631., 4641., 4651.,
       4661., 4681., 4691., 4701., 4711., 4721., 4731., 4741., 4751.,
       4761., 4771., 4791., 4801., 4811., 4821., 4831., 4841., 4851.,
       4861., 4871., 4881., 4891., 4901., 4911., 4921., 4931., 4941.,
       4951., 4961., 4971., 4981., 4991., 5001., 5011., 5021., 5031.,
       5041., 5051., 5061., 5071., 5081., 5091., 5111., 5151., 5161.,
       5171., 5181., 5191., 5201., 5211., 5221., 5231., 5241., 5251.,
       5261., 5271., 5281., 5291., 5301., 5311., 5321., 5331., 5341.,
       5351., 5361., 5391., 5401., 5411., 5421., 5431., 5441., 5451.,
       5471., 5481., 5491., 5501., 5511., 5521., 5531., 5541., 5551.,
       5561., 5601., 5641., 5651., 5661., 5671., 5771., 5781., 5801.,
       5811., 5821., 5831., 5841., 5851., 5861., 5871., 5881., 5891.,
       5911., 5921., 5931., 5941., 5951., 5961., 5971., 5981., 5991.,
       6001., 6011., 6021., 6031., 6041., 6051., 6061., 6081., 6091.,
       6111., 6131., 6151., 6211., 6241., 6251., 6261., 6271., 6281.,
       6291., 6301., 6321., 6341., 6351., 6361., 6371., 6381., 6391.,
       6421., 6431., 6451., 6461., 6491., 6501., 6511., 6521., 6531.,
       6541., 6551., 6561., 6571., 6581., 6591., 6601., 6611., 6631.,
       6641., 6651., 6661., 6671., 6681., 6701., 6711., 6721., 6731.,
       6741., 6751., 6761., 6771., 6781., 6791., 6801., 6811., 6821.,
       6831., 6841., 6851., 6861., 6871., 6881., 6901., 6911., 6921.,
       6931., 6951., 6961., 7001., 7021., 7031., 7041., 7051., 7061.,
       7071., 7081., 7091., 7101., 7111., 7121., 7131., 7151., 7171.,
       7181., 7201., 7221., 7231., 7241., 7251., 7261., 7281., 7291.,
       7311., 7321., 7341., 7351., 7361., 7411., 7421., 7441., 7451.,
       7481., 7521., 7531., 7551., 7561., 7571., 7581., 7601., 7611.,
       7661., 7711., 7721., 7731., 7741., 7751., 7761., 7771., 7781.,
       7791., 7801., 7811., 7821., 7831., 7841., 7851., 7861., 7871.,
       7891., 7901., 7911., 7921., 7931., 7941., 7951., 7961., 7971.,
       7981., 8001., 8041., 8071., 8091., 8101., 8111., 8131., 8191.,
       8221., 8231., 8241., 8261., 8271., 8281., 8291., 8311., 8341.,
       8351., 8361., 8371., 8381., 8401., 8441., 8451., 8461., 8471.,
       8481., 8491., 8541., 8561., 8581., 8601., 8611., 8641., 8651.,
       8661., 8671., 8681., 8691., 8701., 8711., 8731., 8741., 8751.,
       8781., 8791., 8801., 8811., 8821., 8841., 8851., 8861., 8871.,
       8901., 8911., 8921., 8931., 8941., 8991., 9001., 9011., 9031.,
       9041., 9051., 9061., 9071., 9081., 9091., 9101., 9111., 9121.,
       9131., 9141., 9151., 9161., 9171., 9181., 9191., 9201., 9211.,
       9221., 9231., 9241., 9251., 9261., 9271., 9281., 9291., 9301.,
       9311., 9321., 9331., 9341., 9351., 9361., 9371., 9391., 9451.,
       9471., 9531., 9541., 9561., 9581., 9591., 9601., 9611., 9621.,
       9631., 9641., 9661., 9671., 9681., 9691., 9701., 9711., 9731.,
       9741., 9761., 9771.])

## Face frames

In [8]:
face_frames = len(pd.unique(ace_ventura_df['frame_number']))
face_frames

687

`??` 1 sec = 2 frames `??`

In [9]:
face_frames_sec = face_frames / 2
face_frames_sec

343.5

# Total number

## people

`??` number of how many times a woman/men appears in frames != how many women/men are in the movie

### total number of women

In [10]:
woman_df = ace_ventura_df[ace_ventura_df['gender']=='Woman']

In [11]:
number_women = len(woman_df)
number_women

222

### total number of men

In [12]:
man_df = ace_ventura_df[ace_ventura_df['gender']=='Man']

In [13]:
number_men = len(man_df)
number_men

954

## white

### number of women-white

In [14]:
woman_df.groupby('race')['race'].count()

race
asian               10
black                3
indian               1
latino hispanic     15
middle eastern       8
white              185
Name: race, dtype: int64

In [15]:
women_white = woman_df.groupby('race')['race'].count()['white']
women_white

185

### number of men-white

In [16]:
man_df.groupby('race')['race'].count()

race
asian               93
black               69
indian               6
latino hispanic     83
middle eastern      88
white              615
Name: race, dtype: int64

In [17]:
men_white = man_df.groupby('race')['race'].count()['white']
men_white

615

## latino

### number of women-latino

In [18]:
women_latino = woman_df.groupby('race')['race'].count()['latino hispanic']
women_latino

15

### number of men-latino

In [19]:
men_latino = man_df.groupby('race')['race'].count()['latino hispanic']
men_latino

83

## black

### number of women-black

In [20]:
women_black = woman_df.groupby('race')['race'].count()['black']
women_black

3

### number of men-balck

In [21]:
men_black = man_df.groupby('race')['race'].count()['black']
men_black

69

## asian

### number of women-asian

In [22]:
women_asian = woman_df.groupby('race')['race'].count()['asian']
women_asian

10

### number of men-asian

In [23]:
men_asian = man_df.groupby('race')['race'].count()['asian']
men_asian

93

## middle eastern

### number of women-middle eastern

In [24]:
women_middleeastern = woman_df.groupby('race')['race'].count()['middle eastern']
women_middleeastern

8

### number of men-middle eastern

In [106]:
men_middleeastern = man_df.groupby('race')['race'].count()['middle eastern']
men_middleeastern

88

## indian

### number of women-indian

In [99]:
women_indian = woman_df.groupby('race')['race'].count()['indian']
women_indian

1

### number of men-indian

In [25]:
men_indian = man_df.groupby('race')['race'].count()['indian']
men_indian

6

## non white

### number of women-non white

In [26]:
women_nonwhite = number_women-women_white

### number of men-non white

In [27]:
men_nonwhite = number_men-men_white

# Number of frames

## number of frames with only women

In [28]:
df = ace_ventura_df

In [29]:
df2 = df.groupby(["frame_number"]).nunique()["gender"].reset_index()

In [30]:
df2['gender_value'] = df['gender']

In [31]:
df3 = df2[df2.gender == 1]
df3.groupby('gender_value')['gender_value'].count()

gender_value
Man      433
Woman    108
Name: gender_value, dtype: int64

In [32]:
only_women = len(df3[df3['gender_value']=='Woman'])

## number of frames with only men

In [33]:
only_men = len(df3[df3['gender_value']=='Man'])

# Average screentime

## Gender

In [34]:
face_frames

687

In [35]:
only_women_perc = only_women/face_frames*100

In [36]:
only_women_perc

15.72052401746725

In [38]:
only_men_perc = only_men/face_frames*100

In [39]:
only_men_perc

63.02765647743813

In [40]:
df_gender = df.groupby(['gender']).count().reset_index().drop(columns=['face_id','race'])

In [41]:
df_gender['gender_screentime']=df_gender['frame_number']/df_gender['frame_number'].sum()*100
df_gender

  gender  frame_number  gender_screentime
0    Man           954          81.122449
1  Woman           222          18.877551

In [42]:
df_only = df3.groupby(['gender_value']).count().reset_index().drop(columns=['gender'])
df_only = df_only.rename(columns={'frame_number': 'only_1_gender', 'gender_value':'gender'})
df_only

  gender  only_1_gender
0    Man            433
1  Woman            108

In [43]:
dfg = [df_gender, df_only]
df_gender_final = reduce(lambda left,right: pd.merge(left,right,on='gender'), dfg)
df_gender_final['only_1_screentime'] = df_gender_final['only_1_gender']/df_gender_final['only_1_gender'].sum()*100
df_gender_final

  gender  frame_number  gender_screentime  only_1_gender  only_1_screentime
0    Man           954          81.122449            433          80.036969
1  Woman           222          18.877551            108          19.963031

## Race

In [44]:
df_race = df.groupby(['race']).count().reset_index()

In [45]:
df_race['frame_number'].sum()

1176

In [46]:
df_race['race_screentime']=df_race['frame_number']/df_race['frame_number'].sum()*100

In [47]:
df_race = df_race.drop(columns=['face_id','gender'])

In [48]:
df_race

              race  frame_number  race_screentime
0            asian           103         8.758503
1            black            72         6.122449
2           indian             7         0.595238
3  latino hispanic            98         8.333333
4   middle eastern            96         8.163265
5            white           800        68.027211

In [49]:
women_by_race = woman_df.groupby(['race']).count().reset_index()
women_by_race = women_by_race.drop(columns=['face_id','gender'])
women_by_race = women_by_race.rename(columns={'frame_number': 'woman_frames'})
women_by_race

              race  woman_frames
0            asian            10
1            black             3
2           indian             1
3  latino hispanic            15
4   middle eastern             8
5            white           185

In [50]:
men_by_race = man_df.groupby(['race']).count().reset_index()
men_by_race = men_by_race.drop(columns=['face_id','gender'])
men_by_race = men_by_race.rename(columns={'frame_number': 'man_frames'})
men_by_race

              race  man_frames
0            asian          93
1            black          69
2           indian           6
3  latino hispanic          83
4   middle eastern          88
5            white         615

In [51]:
dfs = [df_race, women_by_race, men_by_race]

df_race_final = reduce(lambda left,right: pd.merge(left,right,on='race'), dfs)
df_race_final['woman_r_screentime'] = df_race_final['woman_frames']/df_race_final['frame_number']*100
df_race_final['man_r_screentime'] = df_race_final['man_frames']/df_race_final['frame_number']*100

# Final dataframes to csvs

In [210]:
df_race_final

,race,frame_number,race_screentime,woman_frames,man_frames,woman_r_screentime,man_r_screentime
0,asian,103,8.758503,10,93,9.708738,90.291262
1,black,72,6.122449,3,69,4.166667,95.833333
2,indian,7,0.595238,1,6,14.285714,85.714286
3,latino hispanic,98,8.333333,15,83,15.306122,84.693878
4,middle eastern,96,8.163265,8,88,8.333333,91.666667
5,white,800,68.027211,185,615,23.125000,76.875000

In [246]:
df_gender_final

  gender  frame_number  gender_screentime  only_1_gender  only_1_screentime
0    Man           954          81.122449            433          80.036969
1  Woman           222          18.877551            108          19.963031

In [247]:
#df_race_final.to_csv(r'Path where you want to store the exported CSV file\File Name.csv', index = False)

In [248]:
#df_gender_final.to_csv(r'Path where you want to store the exported CSV file\File Name.csv', index = False)