In [28]:
import pandas as pd

In [29]:
ace_ventura_df = pd.read_csv("https://raw.githubusercontent.com/moe221/diversity_in_cinema/moe221_prediction_pipeline/results/ace_ventura_results.csv")

In [30]:
ace_ventura_df

      Unnamed: 0  frame_number  face_id gender             race
0              0          31.0      0.0    Man            white
1              0          51.0      1.0    Man            white
2              0          71.0      2.0    Man            black
3              0          91.0      3.0    Man  latino hispanic
4              0         101.0      4.0    Man            asian
...          ...           ...      ...    ...              ...
1171           0        9741.0   1171.0    Man            black
1172           1        9741.0   1172.0    Man            black
1173           2        9741.0   1173.0  Woman            white
1174           0        9761.0   1174.0    Man            asian
1175           0        9771.0   1175.0    Man            white

[1176 rows x 5 columns]

In [31]:
ace_ventura_df.drop(columns=['Unnamed: 0'])

      frame_number  face_id gender             race
0             31.0      0.0    Man            white
1             51.0      1.0    Man            white
2             71.0      2.0    Man            black
3             91.0      3.0    Man  latino hispanic
4            101.0      4.0    Man            asian
...            ...      ...    ...              ...
1171        9741.0   1171.0    Man            black
1172        9741.0   1172.0    Man            black
1173        9741.0   1173.0  Woman            white
1174        9761.0   1174.0    Man            asian
1175        9771.0   1175.0    Man            white

[1176 rows x 4 columns]

# Movie data

## Movie length

Movie in seconds

In [32]:
movie_length_sec =

SyntaxError: invalid syntax (805390521.py, line 1)

## Face frames

In [33]:
face_frames = len(pd.unique(ace_ventura_df['frame_number']))
face_frames

687

`??` 1 sec = 2 frames `??`

In [34]:
face_frames_sec = face_frames / 2
face_frames_sec

343.5

# Total number

## people

`??` number of how many times a woman/men appears in frames != how many women/men are in the movie

### total number of women

In [ ]:
woman_df = ace_ventura_df[ace_ventura_df['gender']=='Woman']

In [48]:
number_women = len(woman_df)
number_women

222

### total number of men

In [49]:
man_df = ace_ventura_df[ace_ventura_df['gender']=='Man']

In [50]:
number_men = len(man_df)
number_men

954

## white

### number of women-white

In [60]:
woman_df.groupby('race')['race'].count()

race
asian               10
black                3
indian               1
latino hispanic     15
middle eastern       8
white              185
Name: race, dtype: int64

In [63]:
women_white = woman_df.groupby('race')['race'].count()['white']
women_white

185

### number of men-white

In [61]:
man_df.groupby('race')['race'].count()

race
asian               93
black               69
indian               6
latino hispanic     83
middle eastern      88
white              615
Name: race, dtype: int64

In [64]:
men_white = man_df.groupby('race')['race'].count()['white']
men_white

615

## latino

### number of women-latino

In [66]:
women_latino = woman_df.groupby('race')['race'].count()['latino hispanic']
women_latino

15

### number of men-latino

In [67]:
men_latino = man_df.groupby('race')['race'].count()['latino hispanic']
men_latino

83

## black

### number of women-black

In [65]:
women_black = woman_df.groupby('race')['race'].count()['black']
women_black

3

### number of men-balck

In [68]:
men_black = man_df.groupby('race')['race'].count()['black']
men_black

69

## asian

### number of women-asian

In [69]:
women_asian = woman_df.groupby('race')['race'].count()['asian']
women_asian

10

### number of men-asian

In [70]:
men_asian = man_df.groupby('race')['race'].count()['asian']
men_asian

93

## indian

### number of women-indian

In [71]:
women_indian = woman_df.groupby('race')['race'].count()['indian']
women_indian

1

### number of men-indian

In [72]:
men_indian = man_df.groupby('race')['race'].count()['indian']
men_indian

6

## non white

### number of women-non white

In [76]:
women_nonwhite = number_women-women_white

### number of men-non white

In [75]:
men_nonwhite = number_men-men_white

# Number of frames

## number of frames with only women

In [37]:
ace_ventura_df

      Unnamed: 0  frame_number  face_id gender             race
0              0          31.0      0.0    Man            white
1              0          51.0      1.0    Man            white
2              0          71.0      2.0    Man            black
3              0          91.0      3.0    Man  latino hispanic
4              0         101.0      4.0    Man            asian
...          ...           ...      ...    ...              ...
1171           0        9741.0   1171.0    Man            black
1172           1        9741.0   1172.0    Man            black
1173           2        9741.0   1173.0  Woman            white
1174           0        9761.0   1174.0    Man            asian
1175           0        9771.0   1175.0    Man            white

[1176 rows x 5 columns]

## number of frames with only men

## number of frames with 2 or more woman

## number of frames with 2 or more men

# Average screentime

## Gender

## Race